<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/index.aspx" timeout="2880" />
    </authentication>
    <sessionState mode="InProc" cookieless="false" timeout="20" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
